

body{
  background: linear-gradient(to right, rgb(0, 4, 40), rgb(0, 78, 146));

}
header {
  margin: 0px;
  background: #94B3FD;
padding: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

ul {
  margin: 0px;
  bottom: 4em;
  margin-left: 2em;

  display: flex;
}
li {
 padding: 20px;
 margin-top: 1em;
 border-radius: .7em;

  margin-left: 2em;
  list-style-type: none;
  background-color: #B983FF;
}
li:hover{
  background-color: #94B3FD;
  color: #B983FF;

}

li a:hover {
  color: #B983FF;
}

a {
  color:#94DAFF;
  text-decoration: none;
}


/* breadcrumbs*/
nav>li>a::after {

}
nav {
  background-color:#B983FF ;
}
ol{
  display: flex;
  margin: 0;
}

/* 5*/
.fiche {
  background: linear-gradient(to right, rgb(156, 163, 227), rgb(0, 78, 146));

  margin: 5px;
  width: 200px;
  border: 2px solid rgb(78, 47, 255);
}
.fiche > img {
  text-align: center;
}
.lesFiche {

  text-align: center;
  display: flex;

  flex-wrap: wrap;

}
p {
  color: aliceblue;
  margin: 0;
  margin-left: 5px;
  display: inline-block;
}
.ficheParagraph {
  text-align: left;
}
.fiche image {
  margin-left: auto;
  margin-right: auto;
}
.youSaving {
  color: green;
}
section {
  background-color: #94B3FD;
  margin: 0;
}

.logo {

  width: 70px;
  height: 70px;
}
/*footer */
footer{
  background: linear-gradient(to right, rgb(0, 4, 40), rgb(0, 78, 146));
}

.footerLogo {
  margin-top: 10em;
  width: 35px;
}
.footerParagraph {
  display: inline-block;
  position: relative;
  bottom: 20px;
}
.icon-facebook {
  color: aqua;
}
span {

  font-size: 2em;
  margin: 1em;
}
.reseauS{
  width: 30em;
  display: flex;
  flex-wrap: wrap;

}

@media (max-width:580px) {
  li{
    font-size: 0.9em;
    padding: 0;
  }
  ol,ul{
    padding: 0;
  }
  ol{
    margin-top: 0px;
  }
  ul{
    margin-bottom: 0px;
    margin-right: 1em;
    margin-left: 1em;
  }

  p{
    color: rgb(191, 191, 220);
    font-size: 1em;
  }
h1{
    margin: 0;
    color: rgb(191, 191, 220);
    
    font-size: 1em;
  }




 
  
}